---
import '@/styles/globals.css'
import MySiteLayout from '@/layouts/MySiteLayout.astro'
import Home from './Home'
---

<MySiteLayout>
	<div class="w-full">
		<Home client:load/> 
	</div>
</MySiteLayout>