
---
import '@/styles/globals.css'
import Navbar from "@/components/my/Navbar";
import Header from "@/components/my/Header";
const { title } = Astro.props;
const theme = "retro"
---

<html data-theme={theme} lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body data-theme={theme} class="m-0 h-screen ">
    <h1>{title}</h1>
    <Navbar client:load />
     <slot class="m-0" /> 
    <Header client:load />
  </body>
</html>